<div class="my-container my-black">
	BOOKED TRIP INFORMATION
</div>
<div class="my-center" style="margin-top: 30px; margin-bottom: 30px">

</div>

<div class="my-container" style="padding-bottom: 50px">
	<tbody>
		<table class="my-table-all my-hoverable" style="width: 70%">
			<thead>
				<tr class="my-light-grey">
					<th>Booked Trip Transaction Info</th>
				</tr>
			</thead>
			<tr>
				<td>Reference Number: </td>
				<td th:text="${trip.referenceNumber}" />
			</tr>
			<tr>
				<td>Booked On: </td>
				<td th:text="${trip.confirmationDate}" />
			</tr>
			<tr>
				<td>Date of Trip: </td>
				<td th:text="${trip.bookingDate}" />
			</tr>
			<tr>
				<td>Fulfilled On: </td>
				<td th:text="${trip.fulfillmentDate}" />
			</tr>
			<tr>
				<td>Customer: </td>
				<td th:text="@{${customer.firstName} + ' ' + ${customer.lastName}}" />
			</tr>
			<tr>
				<td>Driver: </td>
				<td th:text="@{${driver.firstName} + ' ' + ${driver.lastName}}" />
			</tr>
			<tr>
				<td>Vehicle: </td>
				<td th:text="${driver.vehicleDetails}" />
			</tr>
			<tr>
				<td>Pickup Location: </td>
				<td th:text="${pickup.locationName} + ', ' + ${pickup.locationCity}" />
			</tr>
			<tr>
				<td>Dropoff Location: </td>
				<td th:text="${dropoff.locationName} + ', ' + ${dropoff.locationCity}" />
			</tr>
			<tr>
				<td>Landmarks: </td>
				<td th:text="${trip.landmarks}" />
			</tr>
			<tr>
				<td>Distance: </td>
				<td th:text="${trip.distance}" />
			</tr>
			<tr>
				<td>Booking Fee: </td>
				<td th:text="${trip.bookingFee}" />
			</tr>
			<tr>
				<td>Service Fee: </td>
				<td th:text="${trip.serviceFee}" />
			</tr>
			<tr>
				<td>Promo: </td>
				<td th:text="${trip.promoId}" />
			</tr>
			<tr>
				<td>Amount Paid: </td>
				<td th:text="${trip.amountPaid}" />
			</tr>
			<tr>
				<td>Status: </td>
				<td th:text="${trip.status}" />
			</tr>
		</table>
	</tbody>
</div>