<div class="my-container my-black">
	EDIT DRIVER
</div>
<center>
	<form class="my-container my-light-grey" th:action="@{'/driver/edit/' + ${driver.driverId}}"
		th:object="${driver}" method="post" style="width: 70%">
		<p class="my-left-align">
			<label>First Name</label>
			<input class="my-input my-border" type="text" th:placeholder="${driver.firstName}" th:field="*{firstName}" required />
		</p>
		<p class="my-left-align"
			<label>Last Name</label>
			<input class="my-input my-border" type="text" th:placeholder="${driver.lastName}" th:field="*{lastName}" required />
		</p>
		<p class="my-left-align">
			<label>Email Address</label>
			<input class="my-input my-border" type="text" th:placeholder="${driver.emailAddress}" th:field="*{emailAddress}" required />
			<span class="my-text-red" style="font-size:11px" th:text="${error}"></span>
		</p>
		<p class="my-left-align">
			<label>Cellphone Number</label>
			<input class="my-input my-border" type="text" th:placeholder="${driver.cellphoneNumber}" th:field="*{cellphoneNumber}" required />
		</p>
		<p class="my-left-align">
			<label>Password</label>
			<input class="my-input my-border" type="password" th:field="*{password}" />
		</p>
		<p class="my-left-align">
			<label>Vehicle Assignment</label>
			<select class="my-select" disabled>
				<option th:value="${driver.vehicleId}" th:text="${driver.vehicleId} + ': ' +
				${driver.vehicleDetails}"></option>
			</select>
		</p>
		<p class="my-left-align">
			<input class="my-button my-blue" type="submit" value="Submit" /> <input class="my-button my-black" type="reset" value="Reset" />
		</p>
	</form>
</center>

<center>
	<form class="my-container my-light-grey" th:action="@{'/driver/assign/' + ${driver.driverId}}"
		th:object="${driver}" method="post" style="width: 70%">
		<p class="my-left-align">
			<label>Re-ssign a Vehicle</label>
			<select class="my-select" th:field="*{vehicleId}">
				<option th:each="vehicle : ${vehicles}" th:value="${vehicle.vehicleId}" th:text="${vehicle.vehicleId} + ': ' +
				${vehicle.plateNumber}"></option>
			</select>
		</p>
		<p class="my-left-align">
			<input class="my-button my-blue" type="submit" value="Submit" />
		</p>
	</form>
</center>





